h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', Georgia, Times, serif;
}
p, div, a {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.my-bg-orange {
    background-color: rgb(250, 105, 0)
}

.my-bg-orange-light {
    background-color: rgb(243, 134, 48)
}

.my-bg-green-light {
    background-color: rgb(224, 228, 204)
}

.my-bg-light-blue {
    background-color: rgb(167, 219, 216)
}

.my-bg-turquoise {
    background-color: rgb(105, 210, 231)
}



